<div class="body3">
    <div class="main zerogrid">
<!-- content -->
        <article id="content">

            <h2 class="under">Premios</h2>
            <div class="wrapper">
                <figure class="left marg_right1"><img src="assets/images/page1_img1.jpg" alt=""></figure>
                <p class="pad_bot1">el concurso blablabla</p>
                <p>segungo parrafo de descripcion bla bla bla bla bla bla bla</p>
            </div>
            <br>
            <div class="wrapper">
            <p class="pad_bot1">utiliamos productos que comezializamos como bla bla bla<b>producto pero en negrita</b> </p>
            <p class="pad_bot1">bla bla bla bla </p>
            <p class="pad_bot1">mas bla bla bla</p> 
            </div>
            <br>
            <div class="wrapper">
                <figure class="left marg_right1"><img src="assets/images/page1_img1.jpg" alt=""></figure>
                <p class="pad_bot1">aca van los agredicimientos </p>
                <p>segungo parrafo de bla bla bla bla bla bla bla</p>
            </div>
        </article>
    </div>
</div>


