
<div class="body1">
    <div class="body2">
            <div class="main zerogrid">
        <header>
            <div >
                <nav class="navbar navbar-dark bg-dark fixed-top">
                    <div class="container-fluid">
                      
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/Logo-Scaby.jpg" width="150" height="100">
                        </a>
                      

                      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                        <span class="navbar-toggler-icon"></span>
                      </button>


                      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                        <div class="offcanvas-header">
                          <a class="navbar-brand" href="index.html"><img src="assets/images/Logo-Scaby.jpg" width="150" height="100"></a>
                          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                          <ul id="menu" class="navbar-nav justify-content-center flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link" href="premios">PREMIOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="marcas">MARCAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="tienda">TIENDA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="mailto:skabygrow@gmail.com">CONTACTO</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </nav>
            </div>

            <div class="wrapper row">
                <div class="slider">
                        <div class="rslides_container">
                            <ul class="rslides" id="slider">
                                <li><img src="assets/images/img2.jpg" alt=""></li>
                                <li><img src="assets/images/img3.jpg" alt=""></li>
                                <li><img src="assets/images/img1.jpg" alt=""></li>
                            </ul>
                        </div>
                </div>
            </div>
        </header>
    </div>
</div>
</div>









<!-- 
<div class="body1">
    <div class="body2">
            <div class="main zerogrid">
        <header>
            <div class="wrapper row">
            <nav>
                <ul id="menu">
                    <li id="logo"><a href="index.html"><img src="assets/images/logo.png" /></a></li> 
                    <li id="nav2"><a href="ukupacha">UKUPACHA<span>Sustratos</span></a></li>
                    <li id="nav4"><a href="gaia">GAIA<span>Grow</span></a></li>
                    <li id="nav3"><a href="mamboreta">MAMBORETA<span>Macetas Geotextiles</span></a></li>
                    <li id="nav5"><a href="lhumus">LHUMUS<span>Grow</span></a></li>
                    <li id="nav6"><a href="mailto:skabygrow@gmail.com">Contacto<span>Mail</span></a></li>
                </ul>
            </nav>
            </div>

            <div class="wrapper row">
                <div class="slider">
                        <div class="rslides_container">
                            <ul class="rslides" id="slider">
                                <li><img src="assets/images/img2.jpg" alt=""></li>
                                <li><img src="assets/images/img3.jpg" alt=""></li>
                                <li><img src="assets/images/img1.jpg" alt=""></li>
                            </ul>
                        </div>
                </div>
            </div>
        </header>
    </div>
</div>
</div>

-->




     

