<div class="body3">
    <div class="main zerogrid">
<!-- content -->
        <article id="content">

            <h3>UKUPACHA</h3>
            <p class="pad_bot1">Nace de Parques Argentinos, empresa que se dedica al paisajismo, jardinería y viverista con más de 20 años de trayectoria, 
                donde empezaron a trabajar en técnicas de compostaje de materia orgánica de descarte, como la cascara de maní, la resaca obtenida del levantamiento de parvas de leña y mezclas de diferentes guanos (caballo, codero, cabra y vaca). </p>
            <p class="pad_bot1">Reproduciendo así los suelos de bosques, ricos y equilibrado en nutrientes, sin tener que extraer materias primas directamente de ellos. Empezaron   a usar los sustratos en sus cultivos de plantas y en obras de paisajismo/ jardinería. </p>
            <p class="pad_bot1">A partir de ahí sale la idea de fundar UKUPACHA, para hacer llegar a la gente, ya sea a granel o embolsados, sustratos específicos y mejorados, sin tener un impacto negativo sobre los bosques nativos de las sierras de Córdoba.</p> 
            <br>
            <div class="wrapper">
                <section class="col-1-3">
                <div class="wrap-col">
                    <div class="wrapper pad_bot2">
                        <h3>BLEND DE MONTE</h3>
                        <figure><img src="assets/images/Blend-de-monte.jpeg" width="250" height="500" alt=""></figure>
                        <p class="pad_bot1">Sustrato de tenor pesado, conformado en partes iguales de resaca del levantamiento de parvas de leña dura y cascara de maní cargado con partículas de arena fina y minerales de los suelos franco arenosos.</p> 
                        <p class="pad_bot1">Se le hace un agregado de guano como fuente de nitrógeno, se lo humedece, se remueve y se deja estacionar hasta su maduración.
                        </p>
                    </div>
                    <div class="wrapper">
                        <h3>UKUPACHA PREMIUM </h3>
                        <figure><img src="assets/images/sustrato-premium.jpeg" width="250" height="500" alt=""></figure>
                        <h6>Compost, humus, guano, perlita y turba.</h6>
                        <p class="pad_bot1">Es un sustrato que busca representar un suelo de selva. Sustrato poroso y permeable donde las raíces de las plantas puedan crecer con más facilidad.</p>
                        <p class="pad_bot1">Está constituido por un porcentaje de turba de carex que aporta esponjosidad y porosidad, consolidando un buen intercambio de oxígeno, ayudando a la estabilización de la franja PH, para una buena disponibilidad de los nutrientes para que las plantas los usen.</p>
                        <p class="pad_bot1">Contiene perlita (mineral de origen volcánico) que se utiliza para la retención de agua (tiene la capacidad de aumentar 10 veces su peso, sin aumentar su volumen) y aporta porosidad.</p>
                        <p class="pad_bot1">El porcentaje restante está conformado por compost a base de cascara de maní, guano de caballo y cordero estacionado (que aportan grandes cantidades de nitrógeno). Se le agrega una proporción de micorrizas (hongo) pulverizado,Trichodermas (bacteria) y lombricompuesto.
                        </p>
                    </div>
                </div>
                </section>
                <section class="col-1-3">
                <div class="wrap-col">
                    <div class="wrapper pad_bot2">
                        <h3>ENMIENDA ORGANICA </h3>
                        <figure><img src="assets/images/enmienda-organica.jpeg" width="250" height="500" alt=""></figure>
                        <h6>Materia organica y guano.</h6>
                        <p class="pad_bot1">Representa los primeros 10 cm de la superficie del suelo de los bosques.</p>
                        <p class="pad_bot1">Está conformado por el compostaje de fibra vegetal (cascara de maní) con guano (caballo y cordero).
                        </p>
                    </div>
                    <div class="wrapper">
                        <h3>SUSTRATO LIVIANO</h3>
                        <figure><img src="assets/images/page4_img4.jpg" width="250" height="500" alt=""></figure>
                        <h6>Mix turba, perlita, compost, vermiculita</h6>
                        <p class="pad_bot1">Esta línea fue diseñada para cultivadores cannábicos, en donde vamos a encontrar un sustrato poroso y esponjoso con buena oxigenación, en donde las raíces van a tener un buen impulso de crecimiento.</p>
                        <p class="pad_bot1">El sustrato liviano está compuesto en un 33% por un mix de turba rubia y negra en partes iguales. Su principal función va a ser equilibrar PH entre 5.9 a 6.2, le va a dar porosidad y un buen intercambio de oxígeno.
                            Otro 33% va a estar conformado por perlita (mineral volcánico) que va a jugar un papel crucial en la retención de agua.</p>
                        <p class="pad_bot1">En este caso la perlita al ser un material poroso va a encapsular el agua junto al lixiviado en su interior para asi retenerlo por un mayor lapso de tiempo.</p>
                        <p class="pad_bot1">Vermiculita, la vamos a encontrar presente en un 4% del volumen total. Proviene de  minerales hidratados (silicatos de aluminio, hierro y magnesio) de estructura laminar, del grupo de las micas.
                            La vermiculita es químicamente neutra (pH 7.0), pero, por sus componentes, tiende a manifestar reacciones más alcalinas.</p>
                        <p class="pad_bot1">Su alta capacidad de intercambio catiónico le da la propiedad de retener nutrientes e ir liberándolos de a poco, evitando, así, la lixiviación o lavado del suelo/sustrato. De este modo, la planta puede aprovecharlos más eficientemente.</p>
                        <p class="pad_bot1">por ultimo tenemos la carga nutricional que va a estar presente en un 30% que se conforma por compost, guano de cordero y lombricompuesto.
                            </p>
                    </div>
                </div>
                </section>
                <section class="col-1-3">
                <div class="wrap-col">
                    <div class="wrapper pad_bot2">
                        <h3>LOMBRICOMPUESTO</h3>
                        <figure><img src="assets/images/lombricompuesto.jpeg" width="250" height="500" alt=""></figure>
                        <p class="pad_bot1">El lombricompuesto es un abono natural de gran calidad nutritiva que se genera a partir del excremento de la lombriz roja californiana. Las lombrices son colocadas en lugares acondicionados entre residuos orgánicos, que en el caso de Ukuacha usa mayormente guano de vaca y en menor proporción guano de caballo.</p>
                        <p class="pad_bot1">Las lombrices se alimentan de estos residuos, y el resultado es un producto único, libre de semillas activas u hongos.
                        </p>
                        
                    </div>
                    <div class="wrapper">
                        <h3>TURBA</h3>
                        <figure><img src="assets/images/turba.jpeg" width="250" height="500" alt=""></figure>
                            <h6>Sphagnum</h6>
                        <p class="pad_bot1">La turba de musgos de sphagnum  es un material orgánico originado por la descomposición incompleta de restos vegetales en condiciones anaeróbicas y en un medio frío y saturado de agua. El lugar de procedencia es Tierra del Fuego.</p>
                        <p class="pad_bot1">La turba es utilizada como la “esponja” de los sustratos, aunque esta no posee nutrientes, absorbe los que provienen de la fertilización liberándolos con el tiempo según lo requieran las plantas, lo que se denomina capacidad de intercambio catiónico.</p> 
                             <h6>Aplicaciones:</h6>
                            <li>como enmienda orgánica para árboles, arbustos, huertas y florales, mezclada con tierra de 1 a 4 partes.</li>
                            <li>en canchas deportivas, campos de golf (asegura el drenaje).</li>
                            <li>para semillas y esquejes mezclada con perlita (50% v/v), mejorando el enraizamiento de las plántulas y acelerando la germinación (luego trasplante a compost).</li>
                            <li>para renovación de sustrato en macetas y aporte de acidez.</li>
                            <li>como mulch para la conservación de humedad.</li>
                            <li>para mejorar suelos pobres en materia orgánica.</li>
                            <li>para mejorar la textura y estructura del suelo.</li>
                            <li>para corregir el pH (acidificar) el suelo.</li>
                        
                    </div>
                </div>
                </section>
                <section class="col-1-3">
                    <div class="wrap-col">
                        <div class="wrapper pad_bot2">
                            <h3>PERLITA</h3>
                            <figure><img src="assets/images/perlita.jpeg" width="250" height="500" alt=""></figure>
                            <p class="pad_bot1">la perlita es una roca volcánica, que se forma cuando la lava se enfría rápidamente. Y debido a este rápido enfriamiento, el agua se queda atrapada dentro de la roca y la lava se transforma en una estructura vidriosa.</p> 
                            
                              <h6>Características:</h6>
                            <li>Es muy ligera</li>
                            <li>Tiene un pH neutro de aproximadamente 7.</li>
                            <li>Es inerte.</li>
                            <li>Contiene silicio, mineral que ayuda a las plantas superar el estrés biótico y abiótico.</li>
                            <li>Mejora el drenaje de los cultivos y evita los encharcamientos.</li>
                            <li>Es ideal para mezclas apelmazadas.</li>
                            <li>Retiene la humedad en la tierra.</li>
                                
                             <h6>Usos:</h6>
                            <li>En semilleros.</li>
                            <li>Cultivo Huerto Urbano.</li>
                            <li>Como sustituto de arena para mejorar el drenaje en el huerto.</li>
                            <li>En cultivos hidropónicos.</li>
                            <li>Producción de esquejes leñosos y semi leñosos</li>
                        </div>
                    </div>
                    </section>
                
            </div>

        </article>
    </div>
</div>


