<div class="body3">
    <div class="main zerogrid">
<!-- content -->
        <article id="content">

            <h3>GAIA</h3>
            <p class="pad_bot1">Somos un emprendimiento joven. Aparecimos en la escena con una practica nacional novedosa:<b>La producicion regenerativa en el segmento del tabaco.</b> </p>
            <p class="pad_bot1">En este sentido, nuestro camino se une al de Sayri. Esta empresa nace con necesidad de desarollar un tabaco que no añada aditivos en el proceso de secado. Luego vimos la necesidad de EVOLUCIONAR en terminos de modelo productivo. </p>
            <p class="pad_bot1">Siguiendo los principios de Sayri, unos años después nace Gaia en Agua de Oro, Córdoba. Proyecto integral de agricultura regenerativa dedicado a la producción de alimentos sanos para el abastecimiento local y la producción de insumos biológicos para hortalizas, frutales y producciones agrícolas en general.</p> 
            <br>

            <div class="wrapper">
                <section class="col-1-3">
                <div class="wrap-col">
                    <div class="wrapper pad_bot2">
                        <h3>BioFertilizante Vegetación</h3>
                        <figure><img src="assets/images/BioFertilizante-Vegetacion.jpg" width="150" height="150" ></figure>
                        <p class="pad_bot1">Sus nutrientes: nitrógeno, fósforo, potasio, hierro, magnesio, manganeso y boro quelatados orgánicamente
                             por bacterias ácido lácticas y levaduras que hacen una nutrición integral perfecta para lograr plantas sanas, de gran tamaño y resistencia.
                        </p>
                    </div>
                    <div class="wrapper">
                        <h3>BioFertilizante Floracion</h3>
                        <figure><img src="assets/images/BioFertilizante-Floracion.jpg" width="150" height="150" ></figure>
                        <p class="pad_bot1">Sus nutrientes: fósforo, potasio, boro, zinc y magnesio, se encuentran quelatados orgánicamente para asimilarse sin generar una residualidad que afecte negativamente el sabor final. 
                            Además posee microorganismos eficientes nativos, coenzimas, vitaminas, aminoácidos y azúcares que acompañan el desarrollo floral.
                        </p>
                    </div>
                </div>
                </section>
                <section class="col-1-3">
                <div class="wrap-col">
                    <div class="wrapper pad_bot2">
                        <h3>BioRepelente Mix</h3>
                        <figure><img src="assets/images/BioRepelente-TCMix.jpg" width="150" height="150"></figure>
                        <p class="pad_bot1">Ácido cítrico y aminoácidos combinados con nicotina que actúa de forma orgánica para repeler pulgones, arañuelas, trips, ácaros y mosca blanca. Además ayuda a prevenir problemas fúngicos.   
                        </p>
                    </div>
                    <div class="wrapper">
                        <h3>Maleza Blackstrap </h3>
                        <figure><img src="assets/images/Melaza-Blackstrap.jpg" width="140" height="150"></figure>
                        <p class="pad_bot1">Contiene fósforo, potasio, hierro, manganeso y zinc. Alimenta la microbiología del suelo que ayuda a fijar los nutrientes en las plantas, además ayuda a desarrollar terpenos mejorando así aromas y sabores.
                        </p>
                    </div>
                </div>
                </section>
                <section class="col-1-3">
                <div class="wrap-col">
                    <div class="wrapper pad_bot2">
                        <h3>Bocashi</h3>
                        <figure><img src="assets/images/Bocashi.jpg" width="150" height="150"></figure>
                        <p class="pad_bot1">Abono para enriquecer el sustrato y acompañar el desarrollo de la planta en cada estado. Por su contenido microbiológico y mineral estimulan el desarrollo de micorrizas y bacterias promotoras de crecimiento. 
                        </p>
                    </div>
                </div>
                </section>
            </div>

        </article>
    </div>
</div>