<div class="body3">
    <div class="main zerogrid">
<!-- content -->
        <article id="content">
            
            <h3>MAMBORETA</h3>
            <p class="pad_bot1"><b>Geotextil:</b></p><p class="pad_bot1">Es una malla sintética no tejida formado por fibras poliméricas recicladas(polipropileno, poliéster o poliamidas)
                Cuenta con protección contra rayos UV, no se reseca y fue desarrollada para resistir la intemperie, lo cual la convierte en un material ideal para cultivos tanto en interior como en el exterior.
            </p>
            <p class="pad_bot1"><b>Tela Permeable:</b></p><p class="pad_bot1"> Gracias a su porosidad, deja de fluir el agua y el aire de manera natural y equilibrada. Es un material versátil, liviano, fácil de lavar y guardar cuando no está en uso.
            </p>
            <p class="pad_bot1"><b>Poda aérea o de raíces al aire:</b></p><p class="pad_bot1">Este fenomeno ocurre en el 100% de la superficie de las macetas geotextiles. 
                Cuando las raices crecen buscan expandirse hasta que llegan al borde de la maceta, buscan expandirse hasta que llegan al borde de la maceta, donde se ponen en contacto con sus paredes e intenta atravesarlas. 
                las finas raices que se asoman por fuera de la maceta, gracias a que se trata de un material poroso, entran en contacto con el exterior, un medio hostil para su desarrollo, se secan, se autopodan y comienzan un nuevo camino hacia el interior de la maceta formando una densa bola de finos capilares, aptos para captar todos los nutrientes de la tierrra, que se aportan a la planta.
            </p> 
            <br>


            <div class="wrapper">
                <section class="col-1-3">
                <div class="wrap-col">
                    <div class="wrapper pad_bot2">
                        <h3>MACETA GEO</h3>
                        <figure><img src="assets/images/Mamboreta-1L.jpg" width="350" height="1000"></figure>
                        <p class="pad_bot1">1 litro /5 Litros /10 Litros</p>
                    </div>
                    <div class="wrapper">
                        <h3>MACETA GEO</h3>
                        <figure><img src="assets/images/Mamboreta-10L.jpg" width="350" height="900"></figure>
                        <p class="pad_bot1">20 Litros/ 40 Litros/ 80 Litros</p>
                    </div>
                </div>
                </section>
                <section class="col-1-3">
                <div class="wrap-col">
                    <div class="wrapper pad_bot2">
                        <h3>JARDIN VERTICAL</h3>
                        <figure><img src="assets/images/Mamboreta-V3.jpg" width="220" height="500"></figure>
                        <p class="pad_bot1">3 Espacios</p>
                    </div>
                    <div class="wrapper">
                        <h3>JARDIN VERTICAL</h3>
                        <figure><img src="assets/images/Mamboreta-V6.jpg" width="250" height="475"></figure>
                        <p class="pad_bot1">6 Espacios</p>
                    </div>
                </div>
                </section>
            </div>
        </article>
    </div>
</div>