<div class="body3">
    <div class="main zerogrid">
<!-- content -->
        <article id="content">

            <div class="wrapper row">
                <section class="col-3-4">
                    <div class="wrap-col">
                        <h2 class="under">SkabyGrow</h2>
                        <div class="wrapper">
                            <figure class="left marg_right1"><img src="assets/images/page1_img1.jpg" alt=""></figure>
                            <p class="pad_bot1">nacimos como un grow y ahora hacemos distribucion</p>
                            <p>segungo parrafo de descripcion bla bla bla bla bla bla bla</p>
                        </div>
                    </div>
                </section>
            </div>
            <br>
            <br>
            <div class="wrapper row">
                <section class="col-1-4">
                    <div class="wrap-col">
                        <h3>UKUPACHA<span>Sustratos</span></h3>
                        <p class="pad_bot1">Nace de Parques Argentinos, empresa que se dedica al paisajismo, jardinería y viverista con más de 20 años de trayectoria, donde empezaron a trabajar en técnicas de compostaje de materia orgánica de descarte, como la cascara de maní, la resaca obtenida del levantamiento de parvas de leña y mezclas de diferentes guanos (caballo, codero, cabra y vaca).</p>
                        <a routerLink="ukupacha" class="link1">Ver Productos</a>
                    </div>
                </section>
                <section class="col-1-4">
                    <div class="wrap-col">
                        <h3>MAMBORETA<span>Macetas</span></h3>
                        <p class="pad_bot1">Macetas sintéticas, no tejidas formado por fibras poliméricas recicladas(polipropileno, poliéster o poliamidas)
                                            Cuenta con protección contra rayos UV, no se reseca y fue desarrollada para resistir la intemperie, lo cual la convierte en un material ideal para cultivos tanto en interior como en el exterior.</p>
                        <a routerLink="mamboreta" class="link1">Ver Productos</a>
                    </div>
                </section>
                <section class="col-1-4">
                    <div class="wrap-col">
                        <h3>GAIA<span>Grow</span></h3>
                        <p class="pad_bot1">Nuestra línea Gaia Grow te ofrece productos de Agricultura Regenerativa para el autocultivo.
                            100% orgánicos, libres de químicos, sustentables y en simbiosis con la tierra.
                            </p>
                        <a routerLink="gaia" class="link1">Ver Productos</a>
                    </div>
                </section>
                <section class="col-1-4">
                    <div class="wrap-col">
                        <h3>LHUMUS<span>Grow</span></h3>
                        <p class="pad_bot1">Cositas utiles que no te pueden faltar </p>
                        <a routerLink="lhumus" class="link1">Read More</a>
                    </div>
                </section>
            </div>

        </article>
    </div>
</div>

<script type="text/javascript"> Cufon.now(); </script>